body {
    margin: 0;
    background-color: #1f2937;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0px 100px;
}
.header-logo {
    display: flex;
    align-items: center;
}
/* header list */
.list {
    display: flex;
    list-style: none;
    gap: 16px;
}
ul li a{
    text-decoration: none;
    color: white;
}
/* header buttons */
button {
    border: 2px solid white;
    border-radius: 6px;
    background-color: #1f2937;
    color: white;
    font-weight: bold; 
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}
#homeButton {
    color: #1f2937;
    background-color: white;
}

/* first row */
.container {
    display: flex;
    flex-direction: column;
}
.container-1 {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 70px;
}
h1 {
    margin: 0px;
}
.row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 89px 50px 100px 100px;
    
    gap: 10px;
    color: white;
}

.container-1-button {
    color: #1f2937;
    background-color: white;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* programming pictures */
.programming-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.programming-picture {
    height: 200px;
}


/* second row */
.heading-2 {
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-bottom: 30px;
}
.container-2 {
    background-color: white;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
} 
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}
.card-1, .card-2, .card-3, .card-4, .card-5 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 200px; 
    gap: 24px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}
.language-name {
    font-size: 16px;
}


/* third row */
.container-3 {
    display: flex;
    justify-content: center;
    padding: 50px 104px;
    font-size: 18px;
    font-weight: lighter;
    background-color: #e5e7eb;
}
.whole-story {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 26px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 850px;
}
.story-title {
    font-size: 30px;
    text-align: center;
}


/* forth row */
.container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.div-4 {
    width: 70%;
    margin: 26px;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    
    width: 602px;
    height: 53px;
}

.perso-div {
    line-height: 1.5;
}
.perso-project {
    font-weight: bold;
    font-size: 18px;
}
.perso-text {
    font-weight: 300;
}

.view-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    font-size: 13px;
    
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
}

.language-name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.proficiency-level {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
}
.text {
    font-weight: 300;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 20px;
    color: white;
    background-color: #1f2937;
}

/* images */
.python-pic {
    height: 150px;
    z-index: 2;
}
.javascript-image {
    height: 150px;
    z-index: 2;
}
.html-pic {
    height: 104px;
    margin: 23px;
    z-index: 2;
}
.css-logo {
    height: 104px;
    margin: 23px;
    z-index: 2;
}
.c-logo {
    height: 104px;
    margin: 23px;
    margin-right: 28px;
    margin-left: 28px;
    z-index: 2;
}

/* picture colors */
/* make python pic move */
.python-div, .javascript-pic, .html-div, .css-div, .c-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden;
    border-radius: 20px;
}
.python-div::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 130%; 
    background: linear-gradient(#357fb9 20%, #ffc42d);
    animation: rotate 4s linear infinite;
}
.python-div::after, .javascript-pic::after, .html-div::after, .css-div::after, .c-div::after {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: white; 
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

/* make js picture move */
.javascript-pic::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 130%; 
    background: linear-gradient(#f18010, #ffdd1e 80%);
    animation: rotate 4s linear infinite;
}

/* make html picture move */
.html-div::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 130%; 
    background: linear-gradient(#d41919, #f67f30 50%);
    animation: rotate 4s linear infinite;
}

/* make css picture move */
.css-div::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 130%; 
    background: linear-gradient(#143bd9, #5285fc 50%);
    animation: rotate 4s linear infinite;
}

/* make c picture move */
.c-div::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 130%; 
    background: linear-gradient(#659ad2 20%, #004482);
    animation: rotate 4s linear infinite;
}

/* font */
* {
    font-family: 'Roboto', sans-serif;
}