body {
    margin: 0;
    background-color: #1f2937;
}

div {
    border: 1px solid wheat;
} 

.container {
    display: flex;
    flex-direction: column;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    align-items: center;
}
.list {
    display: flex;
    list-style: none;
    gap: 24px;
}

/* first row */
.container-1 {
    display: flex;
}
h1 {
    margin: 0px;
}
.row-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 10px;
}

/* second row */
.heading-2 {
    display: flex;
    justify-content: center;
}
.container-2 {
    background-color: white;
    padding: 50px 100px;
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.card-1, .card-2, .card-3, .card-4, .card-5 {
    word-wrap: break-word;
    display: flex;
    gap: 12px;
}

/* third row */
.container-3 {
    padding: 50px 104px;
    font-size: 18px;
    font-weight: lighter;
    background-color: #e5e7eb;
}
.whole-story {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 26px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.story-title {
    font-size: 30px;
    text-align: center;
}


/* forth row */
.container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.div-4 {
    width: 70%;
    margin: 26px;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    max-width: 602px;
    max-height: 53px;
}

.perso-div {
    line-height: 1.5;
}
.perso-project {
    font-weight: bold;
    font-size: 18px;
}
.perso-text {
    font-weight: 300;
}

.view-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-button {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    font-size: 13px;
    
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 20px;
    color: white;
    background-color: #1f2937;
}

/* images */
.python-pic {
    height: 90px;
    margin: 5px;
}
.html-pic {
    height: 70px;
    margin: 15px;
}
.css-logo {
    height: 72px;
    margin: 14px;
}
.c-logo {
    height: 76px;
    margin: 15.5px;
}

.picture-div {
    border: 2px solid #3882f6;
    border-radius: 14px;
}

/* font */
* {
    font-family: 'Roboto', sans-serif;
}