body {
    margin: 0;
    background-color: #1f2937;
}
/* font */
* {
    font-family: 'Roboto', sans-serif;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0px 100px;
}
.header-logo {
    display: flex;
    align-items: center;
}
/* header list */
.list {
    display: flex;
    list-style: none;
    gap: 16px;
}
ul li a {
    text-decoration: none;
    color: white;
}
/* header buttons */
button {
    border: 2px solid white;
    border-radius: 6px;
    background-color: #1f2937;
    color: white;
    font-weight: bold; 
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}
#aboutMeButton {
    background-color: white;
    color: #1f2937;
}


/* first row */
.container {
    display: flex;
    flex-direction: column;
}
.container-1 {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 70px;
}
h1 {
    margin: 0px;
}
.row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 89px 50px 100px 100px;
    
    gap: 10px;
    color: white;
}

.container-1-button {
    color: #1f2937;
    background-color: white;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Change div color */
.sub-text-1 {
    max-width: 1000px;
}

/* programming pictures */
.programming-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.programming-picture {
    height: 200px;
}

/* second row */
.education-div {
    background-color: white;
    color: black;
}

#heading {
    text-align: center;
}

/* card 2 */
.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-2 {
    display: flex;
    flex-direction: column;
}
.cs50-div {
    display: flex;
}

/* card 3 */
.a100-days-of-code {
    display: flex;
}



div {
    border: 1px solid wheat;
}